
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/* Background section */
.bgContainer img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Player section */
.playerContainer{
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 60vh;
    background: linear-gradient(134.53deg, #ffffff00 0.8%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: inset -20px -20px 20px rgba(0, 0, 0, 0.5),
    inset 20px 20px 20px #ffffff39;
    backdrop-filter: blur(5px);    
    border-radius: 20px;
}
.imgCover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content img{
    position: absolute;
    top: -30%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 6px;
}

.Content h2{
    color: #fff;
    margin: 4rem 0 2rem 0;
    font-size: 1.3rem;
    letter-spacing: 10px;
}
.Content h3{
    color: #fff;
    margin-bottom: 5rem;
    font-size: 1rem;
    letter-spacing: 10px;
}
.progressContainer{
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    height: 10px;
    width: 60vw;
}
.progress{
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    height: 100%;
    width: 0;
    transition: all 0.4s linear;
}
.durationSection{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.playerControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 4rem;
    transition: all .7s ease-in-out;
}
.playerControls i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all .7s ease-in-out;
}
.playerControls i:hover{
    font-size: 3rem;
    transform: scale(120%);
    cursor: pointer;
}
@media only screen and (min-width: 376px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (min-width: 769px) {
    body {
        background-color: rgb(255, 0, 153);
    }
}
@media only screen and (min-width: 1281px) {
    .Content h2 {
        color: #fff;
        margin: 4rem 0 2rem 0;
        font-size: 3rem;
        letter-spacing: 10px;
    }

    .Content h3 {
        color: #fff;
        margin-bottom: 5rem;
        font-size: 2rem;
        letter-spacing: 10px;
    }

    .playerControls i {
        font-size: 50px;
    }
}